#forms {
align-items: center;
margin: auto;
}

.connecter, .inscrire  {
    grid-column: 2;
    grid-row: 4;
    justify-content: space-between;
    margin: 2rem auto 2rem auto;
}
/* Styles pour le conteneur du formulaire */
#create{
    display: flex;
    flex-direction:column;
}
fieldset{
    border-color: #afabab;
}
.form-creation {
    width: 55%; 
    margin: 0 auto; 
}

.form-connexion {
    width: 55%; 
    margin: 0 auto; 
}
form legend {
    font-size: x-large;
    color: #1A2C40ff;
    font-weight: 300;
}
/* Styles pour le fieldset */
.form-creation fieldset {
    padding-top: 3rem; 
    padding-bottom: .1rem; 
    padding-right: 1rem; 
    padding-left: 1rem; 
    margin: 1rem 0; 
    border-radius: .8rem;
}

/* Styles pour les labels */
.form-creation label {
    display: block; /* Affiche chaque label sur une ligne */
    margin-bottom: .5rem; 
}

/* Styles pour les champs de saisie */
input {
    width: calc(100% - 2.2rem); /* Largeur de 100% moins la marge intérieure */
    padding: .8rem; 
    margin-bottom: 1.0rem; /* Marge en bas pour séparer les champs */
    background-color: #f5eded;
    border-radius: .8rem;
    border-color: #fafafa;
    border-top: none;
    border-left: none;
    

}
input[type="submit"][value="VALIDER VOTRE COMPTE"] {
    color: #fafafa;
    width: max-content;
    height: 3.7rem;
    text-align: center;
    background-color:#1A2C40ff;
    display: block;
    margin: auto;
    padding: 1rem;



}

/* Styles pour le fieldset du formulaire de connexion */
#connexion fieldset {
    padding-top: 3rem; 
    /* padding-bottom: 3rem;  */
    padding-right: 1rem; 
    padding-left: 1rem; 
    margin: 1rem 0; 
    border-radius: 3rem;
}

/* Styles pour les labels du formulaire de connexion */
#connexion label {
    display: block;
    margin-bottom: .5rem;
}

/* Styles pour le bouton de soumission du formulaire de connexion */
#connexion input[type="submit"] {
    background-color: #1A2C40ff; 
    color: white; /* Texte en blanc */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 27%;
    margin-left: 27%;
    width: 45%; 
    height: 7vh;

}
.inner-form {
    width: 55%; 
    margin: 0 auto; 
    padding-top: 5rem;
}

.inner-form fieldset{
    border: 1rem light #F5C000ff; 
    padding-top: 3rem; 
    /* padding-bottom: 3rem;  */
    padding-right: 1rem; 
    padding-left: 1rem; 
    margin: 1rem 0; 
    border-radius: 3rem;
}

#boutons {
    grid-column: span 2;
}

.form-creation, .form-connexion {
    display: none;
}
.form-creation:target{
    display: block;
  }

.form-connexion:target {
    display: block;
}  
