#gallery {
  max-width: 80%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 colonnes égales */
    gap: 1rem; /* Espacement entre les éléments */
  }

  .image-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 colonnes égales */

  }
  
  figure:hover {
    background-color: rgba(1, 143, 20, 0.5);
    transform: scale(1.1);
    transition: transform 0.3s ease;
    }


  /* css pour les boutons */
  #boutons {
    display: flex;
    flex-direction: column; 
}

.inscrire,
.connecter {
    display: block;
    width: 20rem; 
    height: 5rem; 
    margin-bottom: 2rem; 
    text-align: center;
    line-height: 5rem; 
    background-color: #F5C000ff; /* Couleur orange jolie */
    color: #1A2C40ff; 
    border: none; 
    border-radius: .5rem; 
    text-decoration: none; 
    font-size: 1.8rem;
    font-weight: bold;
}
.inscrire:hover,
.connecter:hover {
    background-color: #FF8C00; 
}
