body{
    background :url(../asset/image.jpg) center center/ cover fixed;
  } 

root {
    --prussian-blue: #1A2C40ff;
    --rusty-red: #DC2A3Dff;
    --celestial-blue: #009AEAff;
    --forest-green: #018F14ff;
    --mikado-yellow: #F5C000ff;
}
/* Header > h1{
    height: 8vh;
    position: fixed;
    margin-top: 0rem;
    background-color: #02843Eff;
    width: 100%; 
}*/
header{
    margin-top: 0 ;
    top: 0rem;
    position: fixed;
    background-color:rgba(1, 143, 20, 0.5) ;
    width: 100%;
    text-align: center;
    position: fixed;
    box-shadow: 0 .8rem 0.8rem rgb(155, 154, 154);
    height: 10vh;
    margin-top: 0;
}

.header h1{
    color: #000000; 
    max-height: 10vh;
    font-weight: 300;
    border: .1rem solid #282727;
    text-shadow: 1px 1px 2px rgb(42, 40, 40);
}

.presentation{
    margin-top: 25vh;
    margin-bottom: 25vh;
    position: relative;
    background-color:rgba(220, 42, 61, 0.5);
    border: .1rem solid #282727;
    max-width: 80%;

}

footer{
    background :url(../asset/andres-garcia-wKHIfwOSwqg-unsplash.jpg) center center/ cover fixed;
    margin-bottom: 0;
}
footer p {
    color: white;
    text-align: center;
}

