root {
--cobalt-blue: #014296ff;
--safety-orange: #E67201ff;
--oxford-blue: #1A263Cff;
--sea-green: #02843Eff;
--penn-red: #9B1712ff;
}
/* Header > h1{
    height: 8vh;
    position: fixed;
    margin-top: 0rem;
    background-color: #02843Eff;
    width: 100%; 
}*/

.header h1{
    position: fixed;
    margin-top: 0 ;
    align-items: center;
    box-shadow: 0 .8rem 0.8rem rgb(155, 154, 154);
    position: fixed;
    width: 100%;
    color: #000000; 
    height: 10vh;
    font-weight: 300;
    border: .1rem solid #282727;
    text-shadow: 1px 1px 2px rgb(42, 40, 40);
    text-transform: uppercase;
}
main{
    background :url(../asset/image.jpg) center center/ cover fixed;
  } 
.presentation{
    background-color:#02843Eff ;
    border: .1rem solid #282727;
    margin: 25rem ;
    margin-top: 8vh;
}


footer{
    background :url(../asset/andres-garcia-wKHIfwOSwqg-unsplash.jpg) center center/ cover fixed;
}

