@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bleu-f: #1A2C4080;
    --rouge: #DC2A3D80;
    --bleu-c: #009AEA80;
    --vert: #018F1480;
    --jaune: #F5C00080;
    --orange : #F5C000ff;
    --black : 'black';

}

.body-bg {
    background-image: url('joparis2024.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

.header-bg {
    position: relative;
    z-index: 1;
    padding: 1.5rem;
    text-align: center;
    font-size: larger; 
    }

    /* style pour affichage des évenements */

    
    #gallery {
        max-width: 80%;
        margin: auto;
    }

    .grid-container {
        margin-top: 6rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 colonnes égales */
        gap: 1rem; /* Espacement entre les éléments */
        margin-bottom: 6rem;
    }

    .event-item {
        border: 1px solid #e2e8f0; /* Bordure pour chaque élément */
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .event-item:hover {
        background-color: rgba(1, 143, 20, 0.1);
        transform: scale(1.05);
    }

    .event-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: #2d3748;
    }

    .event-author {
        font-size: 1rem;
        color: #718096;
    }

    .event-date {
        font-size: 0.875rem;
        color: #a0aec0;
    }

    .event-description {
        font-size: 1rem;
        color: #4a5568;
        margin-top: 0.5rem;
    }

    .event-image img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
    }

    /* style pour le text evenemet */

    .custom-textarea, .custom-input {
        background-color: var(--bleu-c);
        color: var(--white);
        border: 1px solid var(--bleu-c);
    }
    
    .custom-textarea::placeholder, .custom-input::placeholder {
        color: var(--black);
        opacity: 0.6; 
    }
    
